<div>
Hi ${contact_name},

<p>Someone (maybe you) is trying to create an account at ${site_title} using
this email address (${contact_email}), but you're already registered at
${site_title}. If this was you, use the code below to sign in rather than
create an account.</p>

<p><strong>${code_formatted}</strong></p>

<p>If this was not you, you can safely ignore this email.</p>

<p>This email contains private information, so please do not forward or
share it. If you have any questions, email us at
<a href="mailto:${support_email}">${support_email}</a>.</p>

</div>