<div>
To the owners of WingCash profile "<strong>${business_name}</strong>":

<p>WingCash user <strong><a href="${profile_url}">${profile_name}</a></strong>
requested to add this email address (<strong>${business_email}</strong>)
to the business profile named <strong><a href="${business_url}">${business_name}</a></strong>.
Please click the link below to confirm that this email address belongs to
<strong>${business_name}</strong>.
</p>

<p><a href="${action_url}">${action_url}</a></p>

<p>This link will expire in ${email_validation_days} days.</p>
</div>